<%- partial('partials/header') %>

<div>
  <h3>Incoming Message</h3>
  <ul class="well list-group" id="chattable">
  </ul>
</div>
<div class="well input-group input-group-lg">
  <input type="text" id="message" class="form-control input-lg" placeholder="Type message here" />
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" id="send">>></button>
  </span>
</div>

<%- partial('partials/footer') %>
