
<h1>Blahblah chat room</h1>
<div>
    <h3>Message</h3>
    <input type="text" id="message" placeholder="Type message here" />
    <button id="send">Send Message</button>
</div>
<br>
<div>
    <h5>incoming Message</h5>
    <ul id="chattable">
    </ul>
</div>

<%- partial('partials/footer') %>
