<div class="navbar navbar-inverse navbar-fixed-top"
  <div class="container">
    <a class="navbar-brand" href="/"> OurChat</a>
  </div>
</div>

</div>
<div class="jumbotron">
    <div class="container">
      <h1>Our simple chat room</h1>
    </div>
</div>

